@model List<EventQR.Models.VM.Reports.SubEventGuestCheckInLogs>

@{
    Layout = null;
}

<table class="table">
    <thead>
        <tr>
            <th> Guest Name </th>
            <th> Mobile Number </th>
            <th> Start Date Time </th>
            <th> End Date Time </th>
            <th> Check In Time </th>
        </tr>
    </thead>

    <tbody>

        @foreach (var g in Model)
        {
            <tr>
                <td>@g.GuestName </td>
                <td>@g.MobileNumber </td>
                <td>@g.StartDateTime </td>
                <td>@g.EndDateTime </td>
                <td>@g.CheckInTime </td>
            </tr>
        }
    </tbody>
</table>

